@font-face {
    font-family: pip-boy;
    src: url("../monofonto.otf");
}

body{
    font-family: pip-boy ,sans-serif;
    color: #14fe17;
    background: #272b23;
}

/*for scanline effect*/
body::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg,rgba(0,0,0,.4), rgba(0,0,0,.5) 1px, transparent 1px ,transparent 2px );
    opacity:.3;
    z-index: 100000;
    pointer-events: none;
}

/*navbar active styling*/
.nav-item.active::before{
    content: "";
    height: 20px;
    width: 9%;
    background: #272b23;
    position: absolute;
    top: 28px;
    left: 5.5rem;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
}
.nav-item.act.active::before{
    content: "";
    height: 20px;
    width: 9%;
    background: #272b23;
    position: absolute;
    top: 28px;
    left: 20.5rem;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
}
/*ul color*/
li a,#main-nav a{
    color: #14fe17;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
}
/*!*ul > li.nav-item > a.nav-link, ul > li.navbar-item.active > a.nav-link{*!*/

/*}*/
/*.navbar-light .navbar-nav > li.nav-item >.nav-link,*/
.navbar-light .navbar-nav > li.nav-item.active >.nav-link{
    background: #272b23;
    position: relative;
    z-index: 50;
    border: 1px solid #272b23;
    width: fit-content;
    margin-left: 97px;
    padding: 2px;
}

/*border bottom of navbar*/
.navbar{
    border-bottom: 2px solid;
    margin: 0px 10px;
}

/*navbar bottom*/
.navbar::before, .navbar::after{
    height: 7px;
    width: 2px;
    content: "";
    display: block;
    position: absolute;
    background: #14fe17;
    bottom: -8px;
}
.navbar::before{
    left: 0px;
}
.navbar::after{
    right: 0px!important;
}


/*navbar alignment*/
.navbar-nav{
    width: 100%;
}
.navbar-light ul .navbar-nav>li{
    display: block;
    position:relative;
    /*width: 100%;*/
}

/*center the image*/
.center-image {
    position: absolute;
    margin-left: 37rem;
    margin-top: 33px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(6) brightness(1) contrast(2);
}


.nav.nav-tabs{
    margin: 20px;
    border-bottom: none!important;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #14fe17 !important;
    background-color: #272b23 !important;
    border: 1px solid transparent !important;
}

/*.nav.nav-tabs > .nav-item > .nav-link:hover{*/
/*    color: #14fe17 !important;*/
/*    background-color: #272b23 !important;*/
/*    border: 1px solid transparent !important;*/
/*}*/

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    color: #14fe17 !important;
    background-color: #272b23 !important;
    border: 1px solid transparent !important;
}
.nav.nav-tabs>li a{
    font-size: 26px!important;
    padding: 5px 10px ;
}
.nav.nav-tabs>li:nth-child(1)>a{
    opacity: .8;
}
.nav.nav-tabs>li:nth-child(2)>a{
    opacity: .6;
}
.nav.nav-tabs>li:nth-child(3)>a{
    opacity: .2;
}

.level-progress{
    width: 70%;
    height: 12px;
    border: 2px solid;
    position: absolute;
    display: inline-block;
    top: 16px;
    margin-left: 5px;
}
.level-progress-indicator{
    position: relative;
    background-color: #14fe17;
    height: 8px;
    width: 65%
}
.stat-bar{
    width: 40px;
    margin: auto;
    position: relative;
}
.state-bars{
    max-width: 400px;
    margin: auto;
}
.state-bars .row
{
    margin-bottom: 74px;
}
/*.footer-side{*/
/*    border-bottom: 2px solid;*/
/*    margin-bottom: 10px;*/
/*    width: 99%;*/
/*    margin-top: 10px;*/
/*}*/
/*.footer-side::before, .footer-side::after{*/
/*    height: 7px;*/
/*    width: 2px;*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    background: #14fe17;*/
/*    bottom: -8px;*/
/*}*/
/*.footer-side::before{*/
/*    left: 0px;*/
/*}*/
/*.footer-side::after{*/
/*    right: 0px!important;*/
/*}*/

/*align the footer and remain fixed at one place*/
.foot-nav{
    position: fixed;
    bottom: 0;
    width: calc(100% - 0rem);
    margin: 10px;
    font-size: 22px;
}

.navbar-light.foot-nav .col-3 ,.navbar-light.foot-nav .col-6{
    background: rgba(16,255,0,0.15);
    padding: 5px 10px;
}
.navbar-light.foot-nav .col-6{
    margin: 0px 5px;
    flex:0 0 48%;
}
.stat-number .col-1,.stat-number .col-2{
    background: rgba(16,255,0,0.15);
    margin-right: 4px;
}
.stat-number .col-1.transparent,.stat-number .col-2.transparent{
    background: transparent;
}
.stat-number img{
    width: 100%;
    filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
    margin-left: -5px;
}
.img-responsive{
    width: 18px;
}
.item-list{
    list-style: none;
    padding: 0px;
    font-size: 30px;
}